.NavigationItem {
    display: flex;
    height: 100%;
    width: auto;
    padding: 10px 14px;
    align-items: center;
    border-bottom: 2px solid black;
}

.NavigationItem a {
    text-decoration: none;
    color: #333;
}

.NavigationItem:active, .NavigationItem:hover {
    background-color: #eee;
}

@import url('https://fonts.googleapis.com/css?family=Lemon');